<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="shortcut icon" href="../assets/videoTube.ico">
  <link rel="stylesheet" href="../CSS/detalles.css">
    <title>Detalles</title>
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <figure class="header__figure">
                <a href="/index.html">
                    <img src="../assets/videoTube.png" alt="videoTube">
                </a>
            </figure>
            <form action="" class="search-bar">
                <input type="text" placeholder="Buscar" name="buscador">
                <div class="actions">
                    <button type="sumit"><span class="material-icons">search</span></button>
                    <button><span class="material-icons">mic</span></button>
                </div>
            </form>
        </nav>
        
    </header>

    <main class="main">
        <div class="contenedor"></div>
            
            <section class="information" id="information">
                <h1 id="title">Pagina de Detalles</h1>
            </section>

            <div class="video__s">            
                    <h2>Videos Sugeridos</h1>                 
                
                <section class="main_cards"> </section>
            </div>
        </div>
        

        
        
    </main>

    <script src="../JS/sugeridos.js" type="module"></script>
    <script src="../JS/detalles.js" type="module"></script>
</body>
</html>